<!-- Header -->
<app-modal-header
    modalTitle="<%= classify(moduleName) %>"
    (closeModal)="closeModal()">
</app-modal-header>

<div *ngIf="((modalDataLoading$ | async) !== true) else loading">
    <div *ngIf="((modalDataError$ | async) !== true) else errorLoading">
        <app-dialog-content>

            <h2>{{modalData?.entity.Row}}</h2>
            <mat-divider></mat-divider>

            <p><strong>Data: </strong>{{modalData?.entity.Data}}</p>
            <p><strong>ID: </strong>{{modalData?.entity.SchemTest_ID}}</p>

        </app-dialog-content>
        
        <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between">
            <button mat-raised-button (click)="closeModal()">Close</button>
        </mat-dialog-actions>

    </div>
</div>

<ng-template #loading>
    <app-loading-view text="Loading <%= classify(moduleName) %>..."></app-loading-view>
    <mat-dialog-actions fxLayoutAlign="end" style="width: 100%;">
        <button mat-raised-button type="button" (click)="closeModal()">Close</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #errorLoading>
    <h2>Error Loading <%= classify(moduleName) %>...</h2>
    <p>Unable to retieve data</p>

    <mat-dialog-actions fxLayoutAlign="end">
        <button mat-raised-button (click)="closeModal()">Close</button>
    </mat-dialog-actions>
</ng-template>
